snippet plt
	import matplotlib.pyplot as plt
snippet np
	import numpy as np
snippet tae
	np.testing.assert_almost_equal(
snippet pd
	import pandas as pd
snippet jpdb
	from IPython.core.debugger import Tracer
	Tracer()()
